.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   position: relative;
}

.close_icon {
   position: absolute;
   top: 60px;
   right: 40px;
}

.image {
   position: initial;
   display: block;
   max-width: 120px;
   max-height: 120px;
   align-self: center;
   transition: all .1s ease-in;
   ;
}

.image:hover {
   cursor: pointer;
   opacity: .5;
}