.feed {
   width: 1240px;
}

.feed__title {
   margin: 40px 0 0;
   width: 100%;
   text-align: start;
}

.two_column {
   display: flex;
}

.scroll {
   width: 600px;
   flex-direction: column;
   display: flex;
   overflow-y: auto;
   height: calc(100vh - 178px);
}

.scroll::-webkit-scrollbar {
   width: 12px;
}

.scroll::-webkit-scrollbar-track {
   background: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
   background: #8585AD;
   border: 3px solid #2F2F37;
   border-radius: 6px;
}

.order {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 584px;
   background: #1C1C21;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
   border-radius: 40px;
   margin-bottom: 16px;
   transition: .3s;
}

.order:hover {
   cursor: pointer;
   opacity: .5;
}

.order__title {
   width: 536px;
   display: flex;
   justify-content: space-between;
   margin-top: 24px;
}

.order__title_createdAt {
   margin: 0;
}

.order__subtitle {
   width: 536px;
   margin-top: 24px;
}

.order__images_container {
   position: relative;
   width: 436px;
   height: 64px;
   display: flex;
   flex-wrap: wrap;
   margin: 24px 0;
}

.order__image {
   width: 64px;
   height: 64px;
   border-radius: 50%;
   border: 1px solid #801AB2;
   box-sizing: border-box;
   object-fit: cover;
   opacity: 0.7;
}

.order__price {
   display: flex;
   gap: 9px;
}

.order__two_column {
   width: 536px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.order_done_number {
   line-height: 24px;
   color: #00CCCC;
   margin: 0 5px 8px 0;
}

.order_pending_number {
   line-height: 24px;
   margin: 0 5px 8px 0;
}

.order_done {
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0;
   padding: 0;
}

.order_pending {
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
}

.board__list {
   display: flex;
   flex-direction: column;
   width: 580px;
   height: 626px;
}

.board__title {
   margin: 0 0 24px;
}

.board__two_column {
   display: flex;
}

.order__total {
   text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.order__count {
   position: absolute;
   left: 233px;
   top: 20px;
}